* {
    font-family: Verdana, sans-serif;
}

h1 {
    background-color: #654C4F;
    color: white;
    font-size: 40px;
}

h2 {
    background-color: #CEC075;
    color: black;
    font-size: 30px;
}

a {
    background-color: #C0CAAD;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

p,
li {
    font-size: 20px;
    line-height: 1.2;
}

img {
    height: 500px;
    width: auto;
}
